# VS Code config
.vscode
.codex

# Package Installation
holo_bot.egg-info
*.so

# Cache Folders
*__pycache__*
*.egg-info

# Debugging scripts
debuggers/

# Calibration Files and Images
# calibration_files/

# Notebooks
notebooks/*

# Data
extracted_data/*

urdf/*
# *.png
# *.npy
# *.h5

*.mp4

# Logs
logs/*
